<!DOCTYPE html>
<html>
  <head>
    <title>Luhu</title>
    <link rel="icon" type="image/png" href="https://www.macmillan.org.uk/_images/L_tcm9-335052.jpg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:700|Roboto:100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mandali|Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Syncopate&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
